<template>
  <q-page class="flex flex-center">
    <img
      alt="Ruby Play Network"
      href="icons/favicon-128x128.png"
      style="width: 200px; height: 200px"
    >
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PageIndex'
})
</script>
