<template>
  <div v-if="loaded" class="q-pa-md row justify-center test q-gutter-md xyz-in" xyz="down duration-10 ease-in-out-back">
    <q-card
      class="my-card text-white bg-primary "
    >
      <q-card-section class='xyz-in' xyz='fade front-3 flip-down-50% duration-30 stagger-5 narrow-3'>
        <div>days<h2>{{displayDays}}</h2></div>
      </q-card-section>
    </q-card>
    <q-card
      class="my-card text-white bg-primary"
    >
      <q-card-section class='xyz-in' xyz='fade front-3 flip-down-50% duration-30 stagger-5 narrow-3'>
        <div>hours<h2>{{displayHours}}</h2></div>
      </q-card-section>
    </q-card>
    <q-card
      class="my-card text-white bg-primary"
    >
      <q-card-section class='xyz-in' xyz='fade front-3 flip-down-50% duration-30 stagger-5 narrow-3'>
        <div>minutes<h2>{{displayMinutes}}</h2></div>
      </q-card-section>
    </q-card>
    <q-card
      class="my-card text-white bg-primary"
    >
      <q-card-section class='xyz-in' xyz='fade front-3 flip-down-50% duration-30 stagger-5 narrow-3'>
        <div>seconds<h2>{{displaySeconds}}</h2></div>
      </q-card-section>
    </q-card>
  </div>

</template>

<script>
export default {
  data: () => ({
    displayDays: 0,
    displayHours: 0,
    displayMinutes: 0,
    displaySeconds: 0,
    loaded: false
  }),
  computed: {
    _seconds: () => 1000,
    _minutes () {
      return this._seconds * 60
    },
    _hours () {
      return this._minutes * 60
    },
    _days () {
      return this._hours * 24
    }
  },
  mounted () {
    this.showRemaining()
  },
  methods: {
    formatNum: num => (num < 10 ? '0' + num : num),
    showRemaining () {
      const timer = setInterval(() => {
        const now = new Date()
        const end = new Date(2021, 9, 18)
        const distance = end.getTime() - now.getTime()

        if (distance < 0) {
          clearInterval(timer)
          console.log(end)
          return
        }

        const days = Math.floor(distance / this._days)
        const hours = Math.floor((distance % this._days) / this._hours)
        const minutes = Math.floor((distance % this._hours) / this._minutes)
        const seconds = Math.floor((distance % this._minutes) / this._seconds)
        this.displayDays = this.formatNum(days)
        this.displayHours = this.formatNum(hours)
        this.displayMinutes = this.formatNum(minutes)
        this.displaySeconds = this.formatNum(seconds)
        this.loaded = true
      }, 1000)
    }
  }
}
</script>
