<template>
  <div class="q-pa-md leaderboard item-groups" style="max-width: 450px" xyz="fade flip-up flip-left delay-15">
    <q-toolbar class="bg-accent text-white shadow-2">
      <q-toolbar-title class='xyz-in' xyz="fade front-3 flip-down-50% duration-30 stagger-10"> Leaderboard</q-toolbar-title>
    </q-toolbar>

    <q-list bordered class='bg-accent'>
      <q-item v-for="contact in contacts" :key="contact.id" class="q-my-sm" clickable v-ripple>

        <q-item-section v-if="contact.entered" class='xyz-in' avatar>
          <q-avatar color="orange" text-color="white">
            {{ contact.id }}
          </q-avatar>
        </q-item-section>

        <q-item-section v-else class='xyz-in' avatar>
          <q-avatar color="primary" text-color="white">
            {{ contact.id }}
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label v-if="contact.entered" class='text-orange text-bold'><i>{{ contact.nickname }}</i></q-item-label>
          <q-item-label v-else><i>{{ contact.nickname }}</i></q-item-label>
          <q-item-label  lines="1"><q-icon name="stars" class='q-pa-xs' color="yellow" />{{ contact.points }}</q-item-label>
                    <q-item-label class='text-white'  v-if="contact.entered" caption lines="1">Entered: {{ contact.entered }}</q-item-label>
                    <q-item-label class='text-white' v-else caption lines="1">Entered: {{ this.printDate() }}</q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-icon name="person" color="primary" />
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
import { ref } from 'vue'

export default {
  setup () {
    const nickname = ref(null)
    const date = ref(Date)
    return {
      contacts,
      nickname,
      date
    }
  },
  methods: {
    printDate () {
      const today = new Date()
      const day = today.getDate() - Math.floor(Math.random() * (5))
      const month = today.getUTCMonth() + 1
      const year = today.getFullYear()
      return `${day}/${month}/${year}`
    }
  }
}
const contacts = [{
  id: 1,
  nickname: 'proGambler99',
  points: '88.589',
  rank: '1'
},
{
  id: 2,
  nickname: localStorage.getItem('nickname'),
  points: '66.234',
  entered: localStorage.getItem('date'),
  rank: '2'
},
{
  id: 3,
  nickname: 'mcdermott99',
  points: '53.234',
  rank: '3'
},
{
  id: 4,
  nickname: 'Bobby "The Owl" Baldwin',
  points: '48.499',
  rank: '4'
},
{
  id: 5,
  nickname: 'Texas Dolly',
  points: '23055',
  rank: '5'
},
{
  id: 6,
  nickname: 'Parlay Patz',
  points: '23055',
  rank: '6'
},
{
  id: 7,
  nickname: 'Amarillo Slim',
  points: '23055',
  rank: '7'
},
{
  id: 8,
  nickname: 'Wild Bill Hickock',
  points: '23055',
  rank: '9'
},
{
  id: 10,
  nickname: 'Minnesota Fats',
  points: '23055',
  rank: '10'
},
{
  id: 11,
  nickname: 'Titanic Thompson',
  points: '23055',
  rank: '11'
},
{
  id: 12,
  nickname: 'Gadoon "Spanky" Kyrollos',
  points: '23055',
  rank: '12'
},
{
  id: 13,
  nickname: 'Jimmy "The Greek"',
  points: '23055',
  rank: '13'
}]
</script>
