<template>
  <div class="q-pa-md signup" style="max-width: 400px">
    <q-form action=""
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md"
    >
      <q-input
        color='primary'
        v-model="email"
        label="Your email *"
        label-color="white"
        hint="Valid email address"
        input-color="white"
        clearable
      />

      <q-input
        color='primary'
        v-model="nickname"
        label="Your nickname *"
        label-color="white"
        clearable
      />

      <q-toggle color='accent' v-model="accept" label="I accept the license and terms" />

      <div>
        <q-btn label="Sign Up" type="submit" @click="login" color="accent"/>
        <q-btn label="Reset" type="reset" color="white" flat class="q-ml-sm" />
      </div>
    </q-form>
  </div>
</template>

<script>
import { useQuasar } from 'quasar'
import { ref } from 'vue'

export default {
  setup () {
    const $q = useQuasar()

    const email = ref(null)
    const nickname = ref(null)
    const accept = ref(false)

    return {
      email,
      nickname,
      accept,

      onSubmit () {
        if (accept.value !== true) {
          $q.notify({
            color: 'primary',
            textColor: 'white',
            icon: 'acccent',
            message: 'You need to accept the license and terms first'
          })
        } else {
          $q.notify({
            color: 'green-4',
            textColor: 'white',
            icon: 'cloud_done',
            message: 'Submitted'
          })
        }
      },

      onReset () {
        email.value = null
        nickname.value = null
        accept.value = false
      }
    }
  },
  methods: {
    login () {
      setTimeout(() => this.redirect(), 1000)
    },
    save () {
      localStorage.setItem('nickname', this.nickname)
      localStorage.setItem('date', this.getCurrentDate())
    },
    redirect () {
      if (this.accept === true && this.nickname != null && this.email != null) {
        this.$router.push({ name: 'home', params: { items: this.nickname } })
        this.save()
      }
    },
    getCurrentDate () {
      const today = new Date()
      const day = today.getDate()
      const month = today.getUTCMonth() + 1
      const year = today.getFullYear()
      return `${day}/${month}/${year}`
    }
  }

}
</script>

<style>

</style>
