// app global css in SCSS form
html {
  margin: 0;
  background: $background;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.signup {
  margin: auto;
  padding-top: 5rem;
  color: white;
}

.leaderboard {
  margin: 0px;
  padding: 0px;
}

.counter {
  margin: auto;
  align-items: center;
}

.landing {
  background-color: $background;
}

.q-field__native {
  color: white;
}
