// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary : #ce4624;
// $secondary : #26A69A;
// $accent : #9C27B0;

// $dark : #1D1D1D;

// $positive : #21BA45;
// $negative : #C10015;
// $info : #31CCEC;
// $warning : #F2C037;

// colour scheme

$primary: #813772;
$secondary: #b82601;
$accent: #062f4f;
$background: linear-gradient(209deg, rgba(0, 0, 0, 1) 0%, rgba(6, 47, 79, 1) 31%, rgba(129, 55, 114, 1) 66%, rgba(184, 38, 1, 1) 100%);
