<template>
  <q-layout view="lHh Lpr lFf" class=" text-white">
    <q-header elevated>
      <q-toolbar class='bg-accent'>
        <q-btn
          flat
          dense
          round
          @click="toggleLeftDrawer"
          aria-label="Menu"
          icon="menu"

        />
        <q-toolbar-title class="item-groups xyz-in" style="max-width: 450px" xyz="fade front-3 flip-down-50% duration-30 stagger-1">
          <div>Ruby Tournament</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      class=""
    >
    <PlayerList />
    </q-drawer>
    <q-page-container>
      <router-view />
      <div class="row justify-center text-h4 q-pa-md">Tournament ends soon</div>
      <Counter />
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref } from 'vue'
import PlayerList from '../components/PlayerList.vue'
import Counter from '../components/Counter.vue'
import '@animxyz/core'
export default {
  name: 'MyLayout',
  components: {
    PlayerList,
    Counter
  },
  setup () {
    const leftDrawerOpen = ref(false)
    function toggleLeftDrawer () {
      leftDrawerOpen.value = !leftDrawerOpen.value
    }
    return {
      leftDrawerOpen,
      toggleLeftDrawer
    }
  }
}
</script>
