<template>
  <div id="q-app" class="landing">
    <div class='text-h3 row justify-center q-pa-md text-white'>Ruby Tournament</div>
    <SignUpForm />
  </div>

</template>

<script>
import { defineComponent } from 'vue'
import SignUpForm from '../components/SignUpForm.vue'

export default defineComponent({
  name: 'MainLayout',

  components: {
    SignUpForm
  }
})
</script>
